/*----Genério----*/
* {
    margin:5px;
}
p{
    display: inline-flex
}
h1{
    font-weight: normal;
}
/*--------------*/



/*---- Fixes ---*/
#lugar, #editlugar{
    width: 30px;
}

.namechange{
    margin: 0px;
    display: inline-flex;
}
/*--------------*/



/*------------Estados-------------*/
.unset{
    display: none
}

.invalid{
    background-color: #ff4c4c;
}
.highlight{
    background-color: #ffff9e;
    display: unset;
}
/*--------------------------------*/



/*???????????? info ?????????????*/
.divinfo{
    display: inline-flex;
    background-color: #444;
    color: white;
    border-radius: 20%;
}
.divinfo:hover{
    background-color: #666;
    cursor: help;
    border-radius: 5%;
}
.info{
    cursor: help ;
}
.divinfo:hover > div::after{
    content: " [Texto]: Texto a ser adicionado (=/= vazio) /// [Posição]: Posisão na lista (Vaizo = Ultima Pos.)";
}

.divinfo:hover > p::after{
    content: " [Editar Posição]: Escolha Pos. existente /// [Edit Txt]: Novo Txt (=/= vazio)";
}
/*------------------------------*/